.custom-input .ant-input,
.custom-input .ant-input-affix-wrapper {
  transition: all 0.3s ease; /* giống mặc định của Ant Design */
}

.custom-input .ant-input:hover,
.custom-input .ant-input:focus,
.custom-input .ant-input-affix-wrapper:hover,
.custom-input .ant-input-affix-wrapper-focused {
  border-color: #FF6B6B !important;
  box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.3) !important;
  color: #ef4444 !important;
}
